.cart {
	color: white;
	background-color: #0ba360;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;


}

.cart h2 {
	font-size: 40px;
    font-weight: 700;
}


span.name {
	font-size: 22px;
	font-weight: bold;

}
span.price {
	font-size: 20px;
	font-weight: 600;

}
span.qty {
	font-size: 22px;
}

.total {
	font-size: 30px;
	font-weight: 700;
}
.name-price-qty-container {
	display: flex;
	justify-content: space-between;
}


.cart-details {
	height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	align-items: center;
}

.chakra-button.css-5sdmey {
	width: 75%;
}